html, body {
	background-color: #f9f9f9;
	height: 100%;
}

span {
	opacity: 1 !important;
}

/*setting up fonts*/

h1, h2, h3, h4, h5, h6, .nav-link, .copy, .dropdown-item,
label, textarea, .btn {
	font-family: 'Special Elite', cursive;
	color: #228360;
}

h4, p {
	font-family: 'Raleway', sans-serif;
	line-height: 170%;
} 

.decoration span, .welcome, #featured-weddings .card-title > a,
.contact a, .post h2, .blog-title, small {
	font-family: 'Dawning of a New Day', cursive;
}

.fa-caret-down {
	color: #228360;
}

h1, .welcome {
	font-size: 1.2rem;
}

h4, .post h2 {
	color:#f9f9f9;
}

.post h2 {
	font-size: 5rem;
}

@media only screen and (max-width: 768px){
	.post h2 {
		font-size: 3rem;
	}
}

p {
	font-size: .85rem;
	text-align: justify;
}

.nav-link, .dropdown-item {
	font-size: .75rem;
}

.contact a, .post h1 {
	color:#f9f9f9;
	font-size: 2rem;
	text-decoration: none;
}

@media only screen and (max-width: 526px){
	.contact a, .post h1 {
		font-size: .75rem;
	}

	.contact .card-img-overlay {
		padding-top: 0;
	}
}

@media only screen and (max-width: 768px){
	.contact a, .post h1 {
		font-size: 1.75rem;
	}

	.contact .card-img-overlay {
		padding-top: .5rem;
	}
}

@media only screen and (max-width: 992px){
	.contact .card-img-overlay {
		padding-top: .5rem;
	}
}

.blog-card a, .blog-card h4 {
	color:#f9f9f9;
	opacity: 0.3;
	transition: opacity 1s;
}

.thistle {
	width: 20px;
	height: 20px;
	opacity: .8;
	margin-top: -20px;
	margin-left: -15px;
	transition: opacity 1s;
}

.blog-card:hover a, .blog-card:hover h4 {
	opacity: 1;
}

.blog-card:hover .thistle {
	opacity: 0;
}


.blog-title {
	font-size: .75rem;	
	line-height: .6;
}

// .blog-card, .blog-card a {
// 	color:#f9f9f9;
// 	opacity: 0.8;
// 	transition: opacity 1s;
// }

// .blog-card:hover {
// 	opacity: 1;
// }

label {
  	font-size: .75rem;
}

textarea, .copy {
	font-size: .5rem;
}

a:hover {
	text-decoration: none;
}

/*carousel*/

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 5000ms;
    transition-property: opacity;
}

/*main page heading decoration*/

.decoration {
 	line-height: 0.5;
 	text-align: center;
}

.decoration span {
 	display: inline-block;
 	position: relative;  
 	color: #657cb2;
	font-size: 1.5rem;
	opacity: 1;
}

.decoration span:before,
.decoration span:after {
 	content: "";
 	position: absolute;
 	height: 5px;
 	border-bottom: 1px solid #657cb2;
 	top: 0;
 	width: 100px;
}

.decoration span:before {
 	right: 100%;
 	margin-right: 15px;
}

.decoration span:after {
 	left: 100%;
 	margin-left: 15px;
}

/*navigation*/

.navbar-brand {
	width: 200px;
	height: 77px;
}

.top-nav {
	height: 30px;
	margin-bottom: -30px;
	z-index: 999;
}

.nav-link:hover, .navbar-default .social:hover,
.footer-nav .nav-item .social:hover, .footer-nav .nav-link:hover {
	color: #b6ab42;
}

.main-nav {
	background-color: rgba(255, 255, 255, .7);
}

.navbar-default .social, .footer-nav .nav-item .social {
	color: #228360;
}

.dropdown-menu, .dropdown-item:hover {
	background-color: rgba(249, 249, 249, .8);
}

.deco {
	opacity: 0;
	transition: opacity 2s;
}

.dropdown-item:hover .deco{
	opacity: 0.7;
}

/*main page featured weddings gallery*/

#featured-weddings .card-title > a {
	color:#f9f9f9;
	font-size: 2rem;
	text-decoration: none;
	width: 100%;
	transition: font-size 2s;
}

#featured-weddings .card-title:hover a {
	font-size: 1.75rem;
	opacity: 1;
}

#featured-weddings .card-img-overlay {
	color:white;
	opacity: 0;
	transition: opacity 2s;
}

#featured-weddings .card-img-overlay:hover {
	opacity: 1;
}

#featured-weddings .card .card-img, #blog .card .card-img {
	filter: brightness(100%);
	transition: filter 1s;
	min-height: 1px;
}

#featured-weddings .card:hover .card-img, #blog .card:hover .card-img {
	filter: brightness(50%) blur(1px);
}

/*contact call to action*/

.contact-image {
	width: 100%;
	min-height: 1px;
}

/* contact form */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Special Elite', cursive;
	font-size: .75rem;
}
::-moz-placeholder { /* Firefox 19+ */
  	font-family: 'Special Elite', cursive;  
  	font-size: .75rem;
}
::-ms-input-placeholder { /* IE 10+ */
  	font-family: 'Special Elite', cursive;
  	font-size: .75rem;
}
::-moz-placeholder { /* Firefox 18- */
  	font-family: 'Special Elite', cursive;
  	font-size: .75rem;
}

input[type=text]:focus {
  box-shadow: 0 0 5px #b6ab42;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #b6ab42;
}

.btn {
	background-color: #228360;
	color:#f9f9f9;
	font-size: .5rem;
}

.btn:hover {
	background-color: #b6ab42;
}

/*  Blog pages grid */

.blog-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
}

.item:first-child {
	grid-column: span 2;
	grid-row: 1 / 3;
}

.item:last-child {
	grid-column: 2/ span 2;
	grid-row: 4 / 6;
}

.blog-grid2 {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: auto;
}

@media only screen and (max-width: 576px){
	.blog-grid {
		display: grid;
		grid-template-columns: auto;
		grid-auto-rows: auto;
	}
	
	.item:first-child {
		grid-column: 1;
		grid-row: 1;
	}
	
	.item:last-child {
		grid-column: 1;
		grid-row: 9;
	}	
}

/*blog posts*/

article img {
	display: block;
	width: 100%;
	height: auto;
}

.blog-logo {
	width: 100px;
	height: 38px;
}

/* pricing page */
.deco2 {
	width: 25px;
	height: 25px;
}

/*footer*/

footer, footer .main-nav {
	background-color: #f9f9f9;
}

@media only screen and (max-width: 576px) {
	.footer-nav {
		display: flex;
		justify-content: center;
	}
}


